@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

@font-face {
  font-family: pocketMonk;
  src: url(./Fonts/PocketMonk.ttf);
}
@font-face {
  font-family: slumbersWeight;
  src: url(./Fonts/SlumbersWeight.ttf);
}
@font-face {
  font-family: moltors;
  src: url(./Fonts/Moltors.ttf);
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}